{% extends 'core/base.html' %}

{% load platforms_filters %}

{% block title %}Application{% endblock %}

{% block content %}

<h1>Mon application</h1>
<nav>
    <ul>
        <li>
            <a href="{% url 'main_app:index' %}">Accueil de l'application</a>
        </li>
        <li>
            {% with platforms=user|get_user_platforms %}
                <p>
                    {% if platforms %}
                        Vous êtes connecté à
                        {% for platform in platforms %}
                            {{ platform }}
                        {% endfor %}
                    {% else %}
                        Vous n'êtes connecté a aucune plateforme
                    <a href=""></a>
                    {% endif %}
                </p>

                {% if platforms %}
                    <a href="{% url 'platforms:disconnect' platform='all' %}" style="color:red">
                        Déconnecter de toutes les plateformes
                    </a>
                {% endif %}
            {% endwith %}
        </li>
    </ul>
</nav>
{% block app %}
{% endblock app %}
{% endblock content %}
