{% extends "main_app/base.html" %}

{% load render_table from django_tables2 %}
{% load platforms_filters %}

{% block content %}
    <h1>Mes musiques</h1>
    <h2>Plateformes</h2>
        <ul>
            <li>
                Spotify

                {% if user|is_connected_to_platform:"spotify" %}
                    <p>
                        <a href="{% url 'main_app:update_saved_tracks' platform='spotify' %}">Recharger la liste</a>
                        <a href="{% url 'platforms:disconnect' platform='spotify' %}">Déconnecter</a>
                    </p>
                {% else %}
                    <p><a href="{% url 'platforms:auth_redirect' platform='spotify' %}">Se connecter à Spotify</a></p>
                {% endif %}
            </li>
        </ul>
  <div>
    {% render_table table %}
  </div>
{% endblock %}
