{% extends 'core/base.html' %}
{% block title %}Accueil{% endblock %}

{% block content %}


    <main>
        <h1>Bienvenue</h1>
        <h2>Accès aux fonctionnalités</h2>
        {% if user.is_authenticated %}
            <a href="{% url 'main_app:index' %}">Acceder a l'application</a>
        {% else %}
            <p>
                <a href="{% url 'authenticate:login' %}">Connectez-vous</a> ou
                <a href="{% url 'authenticate:signup' %}">inscrivez-vous</a>
                pour accéder à toutes les fonctionnalités.
            </p>
        {% endif %}
    </main>


{% endblock %}