{% extends 'core/base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<h2>Se connecter</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Se connecter</button>
</form>

{% if form.errors %}
    {% for error in form.errors %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}

<p>Pas encore de compte ? <a href="{% url 'authenticate:signup' %}">Inscrivez-vous ici</a></p>
{% endblock %}
